@import url(https://fonts.googleapis.com/css?family=Dosis);
.so-widget-sow-features-features-3d6a3469f4bc .sow-features-list .sow-features-feature .textwidget > h5 {
  font-family: Dosis;
  font-weight: 400;
  font-size: 30px;
  color: #ffffff;
}
.so-widget-sow-features-features-3d6a3469f4bc .sow-features-list .sow-features-feature .textwidget > p {
  font-family: Dosis;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}
.so-widget-sow-features-features-3d6a3469f4bc .sow-features-list .sow-features-feature .textwidget > p.sow-more-text {
  font-family: Dosis;
  font-weight: 400;
  
  
}