@import url(https://fonts.googleapis.com/css?family=Dosis);
.so-widget-sow-features-features-1ee1f03469b9 .sow-features-list .sow-features-feature .textwidget > h5 {
  font-family: Dosis;
  font-weight: 400;
  font-size: 25px;
  color: #ffffff;
}
.so-widget-sow-features-features-1ee1f03469b9 .sow-features-list .sow-features-feature .textwidget > p {
  font-family: Dosis;
  font-weight: 400;
  
  
}
.so-widget-sow-features-features-1ee1f03469b9 .sow-features-list .sow-features-feature .textwidget > p.sow-more-text {
  font-family: Dosis;
  font-weight: 400;
  
  
}